<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>The app needs camera access to capture notes.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The app needs photo library access when the camera is unavailable.</string>
</dict>
</plist>
